// Body

html {
  height: 100%;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  height: auto !important;
}
html.html--mobile,
.html--mobile body {
  overflow: auto !important;
}

.container-inner,
%container-inner {
  max-width: 772px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  #main div#content {
    width: 100% !important;
  }
}