.section--sensor {
  .section-title h3 {
    margin-bottom: 70px;
  }
  .section-content {
    z-index: 1;
    position: relative;
    padding-bottom: 128px;
    @include clearfix();

    p.lead {
      margin-bottom: 60px;
    }
    h3.heading {
      margin-bottom: 50px;
    }
    h3.heading + img {
      margin-bottom: 37px;
    }
    &:after {
      content: "";
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 254px;
      background-image: linear-gradient(to bottom, #ffffff, #ececec);
    }
  }
  .section-imageWrap {
    position: relative;
    margin-bottom: 60px;
    .section-image {
      position: relative;
      z-index: 0;
    }
    .section-imageText {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin: 0;
      color: white;
      text-align: center;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
  .expandable {
    z-index: 1;
    // margin-top: -68px;

    .expandable-content {
      >.container {
        padding-top: 116px;
        padding-bottom: 63px;
      }
    }
    .expandable-toggle--open {
      margin: -32px auto 0;
      top: -36px;
    }
  }
}