.section--ecosystem {
  position: relative;
  .carousel-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .carousel-img {
    min-width: 100%;
    display: block;
  }
  .section-content {
    position: relative;
    z-index: 1;
    // position: absolute;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    padding-top: 64px;
    padding-bottom: 164px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      padding-top: 74px;
      padding-bottom: 74px;
    }
    h2 {
      margin-bottom: 32px;
    }
    p {
      margin-bottom: 107px;

      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }
  }
  // .carousel-item {
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   opacity: 0;
  //   transition: opacity .75s ease-in-out;
  //   transform: none !important;

    // &.active {
    //   opacity: 1;
    //   position: relative;
    //   z-index: 0;
    //   &.carousel-item-left,
    //   &.carousel-item-right {
    //     opacity: 0;
    //   }
    // }
    // &.carousel-item-next,
    // &.carousel-item-prev {
    //   opacity: 1;
    //   z-index: 1;
    // }
  // }
  .carousel-indicators {
      position: relative;
      max-width: 448px;
      margin-left: auto;
      margin-right: auto;
      @include media-breakpoint-down(sm) {
        display: none;
      }
      &:before {
        display: block;
        content: "";
        width: 100%;
        // padding-top: (449 / 448) * 100%;
        padding-top: 448px;
        background: url(../img/carousel-indicators/circle.png) center no-repeat;
        background-size: cover;
      }
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-image: url(../img/dxl-ecosystem.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 142px;
        height: 64px;
        @include retina-mq() {
          background-image: url(../img/dxl-ecosystem@2x.png);
        }
      }
      > .inner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      li {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: 0;
        width: auto;
        height: auto;
        text-indent: 0;
        background-color: rgba(white,0);

        &:before,
        &:after {
          display: none;
        }
      }
      li[data-slide-to="1"] {
        top: -64px;
        left: 154px;
        width: 137px;
        height: 82px;
        background-image: url(../img/carousel-indicators/large-format-lens.png);
        background-size: 137px 82px;
        background-repeat: no-repeat;
        background-position: center;

        @include retina-mq() {
          background-image: url(../img/carousel-indicators/large-format-lens@2x.png);
        }
        &.active {
          background-image: url(../img/carousel-indicators/large-format-lens--active.png);
          @include retina-mq() {
            background-image: url(../img/carousel-indicators/large-format-lens--active@2x.png);
          }
        }
      }
      li[data-slide-to="2"] {
        top: 180px;
        left: 404px;
        width: 175px;
        height: 85px;
        background-image: url(../img/carousel-indicators/8-k-sensor-camera.png);
        background-size: 175px 85px;
        background-repeat: no-repeat;
        background-position: center;

        @include retina-mq() {
          background-image: url(../img/carousel-indicators/8-k-sensor-camera@2x.png);
        }
        &.active {
          background-image: url(../img/carousel-indicators/8-k-sensor-camera--active.png);
          @include retina-mq() {
            background-image: url(../img/carousel-indicators/8-k-sensor-camera--active@2x.png);
          }  
        }
      }
      li[data-slide-to="3"] {
        top: 415px;
        left: 172px;
        width: 127px;
        height: 115px;
        background-image: url(../img/carousel-indicators/proprietary-color-mgmt.png);
        background-size: 127px 115px;
        background-repeat: no-repeat;
        background-position: center;

        @include retina-mq() {
          background-image: url(../img/carousel-indicators/proprietary-color-mgmt@2x.png);
        }

        &.active {
          background-image: url(../img/carousel-indicators/proprietary-color-mgmt--active.png);
          @include retina-mq() {
            background-image: url(../img/carousel-indicators/proprietary-color-mgmt--active@2x.png);
          }
        }
      }
      li[data-slide-to="4"] {
        top: 191px;
        left: -134px;
        width: 167px;
        height: 64px;
        background-image: url(../img/carousel-indicators/8-k-workflow.png);
        background-size: 167px 64px;
        background-repeat: no-repeat;
        background-position: center;

        @include retina-mq() {
          background-image: url(../img/carousel-indicators/8-k-workflow@2x.png);
        }
        &.active {
          background-image: url(../img/carousel-indicators/8-k-workflow--active.png);
          @include retina-mq() {
            background-image: url(../img/carousel-indicators/8-k-workflow--active@2x.png);
          }
        }
      }
  }
}