.section-camera {
  .section-content:first-of-type {
    padding-top: 93px;
    padding-bottom: 97px;
    a {
      @extend %blue-link;
    }
  }
  .section-content:first-of-type > img {
    position: relative;
    left: 8%;
    margin: 84px auto;
    @include media-breakpoint-down(lg) {
      max-width: 70%;
    }
  }
  .features-wrap {
    .feature {
      position: relative;
      margin-left: 40px;
      margin-right: 40px;
      flex: 0 0 auto;
    }
    .feature:nth-of-type(1) {
      top: -8px;
    }
    .feature:nth-of-type(3) {
      top: -1px;
    }
  }
  .section-content--features {
    background-color: #404040;
    text-align: center;
    .container {
      padding-top: 60px;
      padding-bottom: 60px;

      h2 {
        margin-bottom: 60px;
      }
    }
    .container > img {
      // max-width: 750px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .features-tabs {
      // margin-top: 40px;
      margin-bottom: 40px;
      @extend %container-inner;
      max-width: 750px;

      .nav {
        margin-top: 40px;
        margin-bottom: 28px;

        @include media-breakpoint-down(sm) {
          overflow-x: auto;
          white-space: nowrap;
        }
      }
      .nav--hidden {
        display: none;
      }
      .nav-link {
        font-size: 0.875rem;
        line-height: 1.14;
        padding: 16px 5px;
        text-align: center;
        display: block;
        color: white;
        border-bottom: 3px solid #e9e9e9;
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        transition-timing-function: $ease-out-quint;
        white-space: nowrap;
        @include media-breakpoint-down(sm) {
          padding-left: 15px;
          padding-right: 15px;
          min-width: 100px;
        }

        &.active,
        &:hover {
          // box-shadow: 0 3px #1e99d4;
        }
      }
      .nav-indicator {
        background: #1e99d4;
      }
      .tab-pane {
        @extend .lead;
        color: white;
      }
    }
  }
  .section-content--accessories {
    padding-top: 112px;
    text-align: center;

    h2 {
      margin-bottom: 56px;
    }
    .section-content {
      background-image: linear-gradient(to bottom, #ffffff, #ececec);
      min-height: 99px;
      padding-top: 50px;
      padding-bottom: 67px;
    }
    blockquote {
      @extend %container-inner;
    }
  }
}