.section--technicalSpecs {
  .section-content {
    padding-top: 80px;
    padding-bottom: 100px;

    .section-title {
      h2 {
        margin-bottom: 44px;
        @include media-breakpoint-down(sm) {
          font-size: 2.125rem;
        }
      }
    }
  }
}