.section--optics {
  .section-content {
    padding-top: 70px;
    padding-bottom: 30px;
    .container {
      @extend %container-inner;
    }
  }
  h3 {
    margin-bottom: 46px;
  }
  .blue-link {
    display: block;
  }
  .optics-tabs {
    margin-bottom: 20px;
    @extend %container-inner;
    max-width: 750px;

    .nav {
      margin-bottom: 20px;
      max-width: 624px;
      margin-left: auto;
      margin-right: auto;

      @include media-breakpoint-down(sm) {
        overflow-x: auto;
        white-space: nowrap;
      }
    }
    .nav-link {
      font-size: 0.875rem;
      line-height: 1.14;
      padding: 11px 0;
      height: 100%;
      text-align: center;
      display: block;
      border-bottom: 3px solid #e9e9e9;
      transition-property: all;
      transition-duration: 300ms;
      transition-timing-function: ease-out;
      transition-timing-function: $ease-out-quint;

      @include media-breakpoint-down(sm) {
        padding-left: 15px;
        padding-right: 15px;
      }

      span {
      }
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      &.active,
      &:hover {
        // box-shadow: 0 3px #1e99d4;
      }
    }
    .nav-indicator {
       background: #1e99d4;
    }
    .tab-content {
      margin-bottom: 20px;
    }
    .tab-pane {
      font-size: 1rem;
      line-height: 1.25;

      img {
        margin-bottom: 20px;
      }
    }
  }
  .expandable-content {
    color: white;
    background: black;
    > .container {
      padding-top: 80px;
      padding-bottom: 76px;
    }

    blockquote {
      max-width: 623px;
      margin-left: auto;
      margin-right: auto;
    }
    .specifications {
      .specifications-item {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}