blockquote {
  p {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.35;
    margin-bottom: 16px;
  }
  cite {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.375rem;
  }
}